.heading, .heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Kirang Haerang", cursive; }
  .heading::before, .heading::after, .heading-2::before, .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: .5rem; }
  .heading::before, .heading-2::before {
    left: -10rem; }
  .heading::after, .heading-2::after {
    right: -10rem; }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #eee; }
  .heading-2::before, .heading-2::after {
    background-color: #eee; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #eee;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.button-light, .button-light-2, .button-light-3, .button-dark-1 {
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light-2:hover, .button-light-2:active, .button-light-3:hover, .button-light-3:active, .button-dark-1:hover, .button-dark-1:active {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 2px solid #F8EFAF;
  color: #F8EFAF; }
  .button-light-2:hover, .button-light-2:active {
    background-color: #F8EFAF;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1rem 2.1rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }

.filter {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  list-style-type: none; }
  .filter-item {
    position: relative; }
  .filter-item:not(:last-child) {
    margin-right: 1rem; }
  .filter-item.activeFilter {
    background-color: #2c3a47;
    color: #eee;
    padding-left: 4rem; }
    .filter-item.activeFilter img {
      width: 2rem; }

.checksvg {
  width: 0;
  transition: all .3s ease;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%); }

.blogs-section {
  padding: 4rem 8rem; }

.blogs-container {
  display: flex;
  flex-wrap: wrap; }

.blogs-box {
  width: 30%;
  border-radius: 1rem;
  border: 5px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(44, 58, 71, 0.9);
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1.666%;
  margin-bottom: 3rem;
  align-self: flex-start; }

.blogs-box:hover .blogs-featureimage {
  transform: scale(1.05); }

.blogs-featureimage {
  transition: all .4s ease;
  overflow: hidden;
  width: 100%;
  height: 25rem;
  filter: brightness(0.9); }

.blogs-description {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.blogs-title {
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: #eee; }

.blogs-dateandbutton {
  display: flex;
  justify-content: space-between; }

.blogs-date {
  display: inline-block;
  color: #eee;
  font-size: 1.5rem;
  align-self: center; }
