.heading,
.heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  letter-spacing: 2px;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Kirang Haerang", cursive; }
  @media screen and (max-width: 500px) {
    .heading,
    .heading-2 {
      font-size: 3.7rem; } }
  @media screen and (max-width: 400px) {
    .heading,
    .heading-2 {
      font-size: 3.3rem; } }
  .heading::before, .heading::after,
  .heading-2::before,
  .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 0.5rem; }
    @media screen and (max-width: 500px) {
      .heading::before, .heading::after,
      .heading-2::before,
      .heading-2::after {
        width: 5rem; } }
  .heading::before,
  .heading-2::before {
    left: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::before,
      .heading-2::before {
        left: -7rem; } }
  .heading::after,
  .heading-2::after {
    right: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::after,
      .heading-2::after {
        right: -7rem; } }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #ddd; }
  @media screen and (max-width: 400px) {
    .heading-2 {
      font-size: 3.8rem; } }
  .heading-2::before, .heading-2::after {
    background-color: #ddd; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #ddd;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.button-light,
.button-light-2,
.button-light-3,
.button-dark-1 {
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light:focus,
  .button-light-2:hover,
  .button-light-2:active,
  .button-light-2:focus,
  .button-light-3:hover,
  .button-light-3:active,
  .button-light-3:focus,
  .button-dark-1:hover,
  .button-dark-1:active,
  .button-dark-1:focus {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 1px solid #f8efaf;
  color: #f8efaf;
  font-weight: lighter;
  font-size: 1.6rem; }
  @media screen and (max-width: 600px) {
    .button-light-2 {
      font-weight: bold; } }
  .button-light-2:hover, .button-light-2:active {
    background-color: #f8efaf;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1rem 2.1rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }

.filter {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; }
  .filter-item {
    font-size: 1.5rem;
    position: relative;
    align-self: flex-start; }
  .filter-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
  .filter-item.activeFilter {
    background-color: #2c3a47;
    color: #eee;
    padding-left: 3.5rem; }
    .filter-item.activeFilter img {
      width: 1.7rem; }

.checksvg {
  width: 0;
  transition: all 0.3s ease;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%); }

.showJoinMessage,
.showSubscribeMessage {
  position: absolute;
  background-color: #fae6e6;
  font-size: 1.8rem;
  top: -11rem;
  padding: 0.8rem 2rem;
  border-left: 4px solid #f78c8c;
  color: #665555;
  border-radius: 5px;
  left: 50%;
  box-sizing: border-box;
  z-index: 1000;
  min-width: 34rem;
  transform: translateX(-50%);
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3); }

.showJoinMessage.show {
  animation: fadeinblogmessage 4s ease both; }

.showSubscribeMessage.success {
  border-left: 4px solid #1ac950;
  background-color: #f7fffa;
  color: #556655;
  animation: fadeinsubscribemessage 4s ease both; }

.showSubscribeMessage.failure {
  border-left: 4px solid #f78c8c;
  background-color: #fae6e6;
  color: #665555;
  animation: fadeinsubscribemessage 4s ease both; }

@keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

.blogs-section {
  padding: 8rem 10rem;
  position: relative; }
  .blogs-section::before, .blogs-section::after {
    content: "";
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: -1;
    background-color: rgba(44, 58, 71, 0.04); }
  .blogs-section::before {
    width: 30rem;
    height: 30rem;
    top: 4rem;
    left: 1rem;
    transform: rotate(10deg); }
  .blogs-section::after {
    width: 15rem;
    height: 15rem;
    top: 2rem;
    right: 4rem;
    transform: rotate(50deg); }
  @media (max-width: 1200px) {
    .blogs-section {
      padding: 8rem 5rem; } }
  @media (max-width: 1000px) {
    .blogs-section {
      padding: 8rem 3rem; } }
  @media screen and (max-width: 600px) {
    .blogs-section {
      padding: 8rem 1.5rem; } }

.blogs-container {
  display: flex;
  flex-wrap: wrap; }

.blogs-box {
  width: 31%;
  border-radius: 1rem;
  border: 5px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(44, 58, 71, 0.9);
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1.1666%;
  margin-bottom: 3rem;
  align-self: center; }
  @media screen and (max-width: 740px) {
    .blogs-box {
      width: 47.66%; } }
  @media screen and (max-width: 500px) {
    .blogs-box {
      width: 97.668%; } }

.blogs-box:hover .blogs-featureimage {
  transform: scale(1.05); }

.blogs-featureimage {
  transition: all 0.4s ease;
  overflow: hidden;
  width: 100%;
  height: 23rem;
  filter: brightness(0.8); }
  @media screen and (max-width: 500px) {
    .blogs-featureimage {
      height: 28rem; } }

.blogs-description {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: lighter; }

.blogs-title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: #eee;
  line-height: 2.5rem; }

.blogs-dateandbutton {
  display: flex;
  justify-content: space-between; }

.blogs-date {
  display: inline-block;
  color: #eee;
  font-size: 1.5rem;
  align-self: center; }
  @media screen and (max-width: 600px) {
    .blogs-date {
      font-weight: bold; } }
