@import "../../variables.scss";

.blogs-section {
	padding: 8rem 10rem;
	@include sectionStars;
	@media (max-width: 1200px) {
		padding: 8rem 5rem;
	}
	@media (max-width: 1000px) {
		padding: 8rem 3rem;
	}
	@media screen and (max-width: 600px) {
		padding: 6rem 1.5rem;
	}
}

.blogs {
	&-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-wrap: wrap;
		    -webkit-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	&-box {
		width: 31%;
		-webkit-border-radius: 1rem;
		        border-radius: 1rem;
		border: 5px solid #fff;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		overflow: hidden;
		background-color: rgba(44, 58, 71, 0.9);
		-webkit-box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
		        box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
		margin: 1.1666%;
		margin-bottom: 3rem;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    -webkit-align-self: center;
		        align-self: center;
		@media screen and (max-width: 740px) {
			width: 47.66%;
		}
		@media screen and (max-width: 500px) {
			width: 97.668%;
		}
	}
	&-box:hover &-featureimage {
		-webkit-transform: scale(1.05);
		    -ms-transform: scale(1.05);
		        transform: scale(1.05);
	}
	&-featureimage {
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		overflow: hidden;
		width: 100%;
		height: 23rem;
		-webkit-filter: brightness(0.7);
		        filter: brightness(0.8);
		@media screen and (max-width: 500px) {
			height: 28rem;
		}
	}
	&-description {
		padding: 1rem 2rem 2rem 2rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        -webkit-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        -webkit-justify-content: space-between;
		        justify-content: space-between;
		
	}
	&-title {
		font-size: 1.6rem;
		color: $primary-color-4;
		line-height: 2.5rem;
		margin-bottom: 2rem;
		@media screen and (max-width: 600px) {
			font-size: 1.8rem;
		}
	}
	&-dateandbutton {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        -webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	&-date {
		display: inline-block;
		color: $primary-color-4;
		font-size: 1.5rem;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    -webkit-align-self: center;
		        align-self: center;
		@media screen and (max-width: 600px) {
			font-weight: bold;
		}
	}
}
