@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Roboto:900|Squada+One|Hammersmith+One");
.heading,
.heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-top: 2rem; }
  @media screen and (max-width: 500px) {
    .heading,
    .heading-2 {
      font-size: 3.7rem; } }
  @media screen and (max-width: 400px) {
    .heading,
    .heading-2 {
      font-size: 3.3rem; } }
  .heading::before, .heading::after,
  .heading-2::before,
  .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 0.5rem; }
    @media screen and (max-width: 500px) {
      .heading::before, .heading::after,
      .heading-2::before,
      .heading-2::after {
        width: 5rem; } }
  .heading::before,
  .heading-2::before {
    left: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::before,
      .heading-2::before {
        left: -7rem; } }
  .heading::after,
  .heading-2::after {
    right: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::after,
      .heading-2::after {
        right: -7rem; } }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #ddd; }
  @media screen and (max-width: 400px) {
    .heading-2 {
      font-size: 3.8rem; } }
  .heading-2::before, .heading-2::after {
    background-color: #ddd; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #ddd;
  line-height: 2.6rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; }

.button-light,
.button-light-2,
.button-light-3,
.button-dark-1 {
  -webkit-border-radius: 3rem;
  border-radius: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light:focus,
  .button-light-2:hover,
  .button-light-2:active,
  .button-light-2:focus,
  .button-light-3:hover,
  .button-light-3:active,
  .button-light-3:focus,
  .button-dark-1:hover,
  .button-dark-1:active,
  .button-dark-1:focus {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 1.4px solid #f8efaf;
  color: #f8efaf;
  font-weight: 600;
  font-size: 1.4rem; }
  @media screen and (max-width: 600px) {
    .button-light-2 {
      font-weight: bold; } }
  .button-light-2:hover, .button-light-2:active {
    background-color: #f8efaf;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

/* .button-light-4 {*/
/* background-color: transparent;*/
/*   border: 2px solid #F8EFAF;*/
/*   color: #F8EFAF;*/
/*   padding: .5rem 1.5rem;*/
/*   &:hover,*/
/*   &:active {*/
/*     background-color: #F8EFAF;*/
/*     color: $primary-color-1;*/
/*   }*/
/* }*/
.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1rem 2.1rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }

.filter {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  /* justify-content: flex-end;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .filter-item {
    font-size: 1.5rem;
    position: relative;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .filter-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
  .filter-item.activeFilter {
    background-color: #2c3a47;
    color: #eee;
    padding-left: 3.5rem; }
    .filter-item.activeFilter img {
      width: 1.7rem; }

.checksvg {
  width: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.showJoinMessage,
.showSubscribeMessage {
  position: absolute;
  background-color: #fae6e6;
  font-size: 1.8rem;
  top: -11rem;
  padding: 0.8rem 2rem;
  border-left: 4px solid #f78c8c;
  color: #665555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  min-width: 34rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3); }

.showJoinMessage.show {
  -webkit-animation: fadeinblogmessage 4s ease both;
  animation: fadeinblogmessage 4s ease both; }

.showSubscribeMessage.success {
  border-left: 4px solid #1ac950;
  background-color: #f7fffa;
  color: #556655;
  -webkit-animation: fadeinsubscribemessage 4s ease both;
  animation: fadeinsubscribemessage 4s ease both; }

.showSubscribeMessage.failure {
  border-left: 4px solid #f78c8c;
  background-color: #fae6e6;
  color: #665555;
  -webkit-animation: fadeinsubscribemessage 4s ease both;
  animation: fadeinsubscribemessage 4s ease both; }

@-webkit-keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@-webkit-keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

.main {
  padding: 2rem 0 11rem 3rem;
  position: relative;
  background-color: #2c3a47;
  /* height: calc(100vh - 15rem);*/
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 100%);
  margin: 0;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .main {
      padding: 2rem 0 12rem 3rem; } }
  @media screen and (max-width: 600px) {
    .main {
      padding: 2rem 3.5rem 12rem 3.5rem;
      text-align: center; } }
  @media screen and (max-width: 500px) {
    .main {
      padding: 2rem 2rem 11rem 2rem;
      /* text-align: center;*/ } }
  @media screen and (max-width: 400px) {
    .main {
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 100%); } }
  .main_logo {
    -webkit-filter: contrast(0.7) brightness(1.1);
    filter: contrast(0.7) brightness(1.1);
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0; }
    @media screen and (max-width: 600px) {
      .main_logo {
        visibility: visible;
        width: 40%;
        height: auto;
        display: block;
        margin: 0 auto;
        opacity: 1; } }
  .main_heading {
    text-transform: uppercase;
    margin-top: 10rem;
    color: #eee;
    font-weight: 900;
    font-family: "Hammersmith One", sans-serif !important; }
    @media screen and (max-width: 600px) {
      .main_heading {
        margin-top: 2rem; } }
    .main_heading--primary {
      letter-spacing: 0.6rem;
      font-size: 5.5rem; }
      @media screen and (max-width: 600px) {
        .main_heading--primary {
          font-size: 4.7rem; } }
      @media screen and (max-width: 500px) {
        .main_heading--primary {
          font-size: 4.5rem;
          letter-spacing: 0.5rem; } }
      @media screen and (max-width: 450px) {
        .main_heading--primary {
          font-size: 4.1rem; } }
      @media screen and (max-width: 400px) {
        .main_heading--primary {
          font-size: 4rem; } }
    .main_heading--sub {
      font-size: 3.8rem;
      /* margin-top: 0.5rem;*/
      letter-spacing: 0.3rem; }
      @media screen and (max-width: 600px) {
        .main_heading--sub {
          font-size: 3.4rem; } }
      @media screen and (max-width: 500px) {
        .main_heading--sub {
          font-size: 4rem;
          margin-top: 0;
          letter-spacing: 0.3rem; } }
      @media screen and (max-width: 450px) {
        .main_heading--sub {
          margin-top: 1rem;
          font-size: 4rem; } }
      .main_heading--sub span {
        color: #85e1d4;
        font-size: 170%; }
  .main_subscribe {
    margin-top: 5rem; }
    @media screen and (max-width: 600px) {
      .main_subscribe {
        margin-top: 4rem; } }
    @media screen and (max-width: 400px) {
      .main_subscribe {
        margin-top: 6rem; } }
    .main_subscribe--input {
      padding: 1.3rem 2rem;
      -webkit-border-radius: 4rem;
      border-radius: 4rem;
      font-size: 1.5rem;
      width: 30rem;
      margin-right: 2rem;
      outline: none;
      border: none;
      background-color: #eee;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .main_subscribe--input::-webkit-input-placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #555; }
      .main_subscribe--input:-ms-input-placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #555; }
      .main_subscribe--input::-ms-input-placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #555; }
      .main_subscribe--input::-moz-placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #555; }
      .main_subscribe--input::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: #555; }
      .main_subscribe--input:focus, .main_subscribe--input:active {
        width: 33rem; }
        @media screen and (max-width: 500px) {
          .main_subscribe--input:focus, .main_subscribe--input:active {
            width: 25rem; } }
      @media screen and (max-width: 600px) {
        .main_subscribe--input {
          padding: 1.1rem 1.7rem; } }
      @media screen and (max-width: 500px) {
        .main_subscribe--input {
          /* margin: 0 auto;*/
          width: 23rem;
          /* border-radius: 3rem;*/
          /* display: block;*/
          font-size: 1.8rem;
          /* padding: 1.3rem 2rem;*/ } }
    .main_subscribe--button {
      position: relative;
      padding: 1.2rem 2rem;
      background-color: #86e1d4;
      color: #2c3a47;
      -webkit-border-radius: 4rem;
      border-radius: 4rem;
      font-weight: bold;
      letter-spacing: 3px;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media screen and (max-width: 600px) {
        .main_subscribe--button {
          padding: 1.1rem 1.7rem;
          font-size: 1.4rem; } }
      @media screen and (max-width: 500px) {
        .main_subscribe--button {
          padding: 1.1rem 1.5rem;
          font-size: 1.5rem;
          margin-top: 1rem;
          letter-spacing: 2px;
          /* border-radius: 1rem;*/ } }
      .main_subscribe--button:active, .main_subscribe--button:focus {
        outline: none; }
      .main_subscribe--button--icon {
        position: absolute;
        top: 100%;
        height: 100%;
        width: 81%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 100;
        background-color: #85e1d4;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        @media screen and (max-width: 500px) {
          .main_subscribe--button--icon {
            display: none; } }
      .main_subscribe--button:hover .main_subscribe--button--icon {
        top: 12%; }
      .main_subscribe--button:hover #subscribeText {
        top: -100%; }
        @media screen and (max-width: 500px) {
          .main_subscribe--button:hover #subscribeText {
            top: 0; } }
    .main_subscribe--note {
      margin-top: 2.5rem;
      font-size: 1.3rem;
      color: #aaa;
      display: inline-block; }
      @media screen and (max-width: 500px) {
        .main_subscribe--note {
          font-size: 1.6rem; } }
      .main_subscribe--note span {
        color: #f8efba;
        letter-spacing: 1px;
        display: block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600; }
        @media screen and (max-width: 500px) {
          .main_subscribe--note span {
            font-size: 1.7rem;
            margin-top: 1.5rem; } }

#lds-ellipsis {
  display: none;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 45%;
  top: 38%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#lds-ellipsis div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }
  @media screen and (max-width: 500px) {
    #lds-ellipsis div {
      width: 0.9rem;
      height: 0.9rem; } }

#lds-ellipsis div:nth-child(1) {
  left: -1.4rem;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite; }

#lds-ellipsis div:nth-child(2) {
  left: -0.7rem;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite; }

#lds-ellipsis div:nth-child(3) {
  left: 0.7rem;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite; }

#lds-ellipsis div:nth-child(4) {
  left: 1.4rem;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite; }

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0); } }

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0); } }

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }

#checkmark {
  position: absolute;
  left: 40%;
  top: 15%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: none;
  stroke-width: 7;
  stroke: #fff;
  stroke-miterlimit: 10;
  -webkit-box-shadow: inset 0rem 0rem 0rem #7ac142;
  box-shadow: inset 0rem 0rem 0rem #7ac142;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  z-index: 10; }

.checkmark__check {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; }

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }

@keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none; }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); } }

@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none; }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); } }

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0rem 0rem 0rem 3rem #7ac142;
    box-shadow: inset 0rem 0rem 0rem 3rem #7ac142; } }

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0rem 0rem 0rem 3rem #7ac142;
    box-shadow: inset 0rem 0rem 0rem 3rem #7ac142; } }

#backgroundButton {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  z-index: 1; }

#backgroundButton.success {
  -webkit-animation: scaleup 1s ease both;
  animation: scaleup 1s ease both;
  width: 1rem;
  height: 1rem;
  background-color: #7ac142; }

#backgroundButton.error {
  -webkit-animation: scaleup 1s ease both;
  animation: scaleup 1s ease both;
  width: 1rem;
  height: 1rem;
  background-color: #d45959; }

@-webkit-keyframes scaleup {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(20);
    transform: translate(-50%, -50%) scale(20); } }

@keyframes scaleup {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(20);
    transform: translate(-50%, -50%) scale(20); } }

#errorSubscribe {
  display: none;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  z-index: 11;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: fadeIn 1s ease;
  animation: fadeIn 1s ease;
  -webkit-filter: contrast(0.6);
  filter: contrast(0.6); }
