@import '../../variables.scss';

.main {
  padding: 12rem 0 3rem 3rem;
  position: relative;
  background-color: $primary-color-1;
  height: calc(100vh - 15rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 100%);
  
  &_heading {
    text-transform: uppercase;
    margin-top: 10rem; 
    color: #fff;
      font-weight: bold;
    text-shadow: 6px 0 6px darken($primary-color-2, 35%),
        5px 5px 5px darken($primary-color-2, 50%), 0 6px 6px darken($primary-color-2, 55%);
    &--primary {
      letter-spacing: .8rem;
      font-size: 5.5rem;
    }
    &--sub {
      font-size: 3.8rem;
      // margin-top: 0.5rem;
      letter-spacing: 0.5rem;

      span {
        color: $primary-color-2;
        font-size: 6.5rem;
        // font-weight: bolder;
        text-shadow: 4px 2px 6px darken($primary-color-2, 35%);
      }
    }
  }
  &_subscribe {
    margin-top: 5rem;

    &--input {
      padding: 1.3rem 2rem;
      border-radius: 0.6rem;
      font-size: 1.5rem;
      width: 30rem;
      margin-right: 2rem;
      outline: none;
      border: none;
      &::placeholder {
        font-family: $font-roboto;
      }
    }

    &--button {
      padding: 1.2rem 2rem;
      background-color: rgb(134, 225, 212);
      color: #2c3a47;
      border-radius: 0.6rem;
      font-weight: bold;
      letter-spacing: 3px;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
    }
    &--note {
      margin-top: 2.5rem;
      font-size: 1.3rem;
      color: #aaa;
      display: inline-block;
      span {
        color: #f8efba;
        letter-spacing: 1px;
        display: block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .main {
    margin-top: 3rem;
  }
}