@import "../../variables.scss";

.InternshipFair-section {
    padding: 5rem 0;
	@include sectionStars;
    font-size: 150%;
	@media (max-width: 1200px) {
		padding: 8rem 0;
	}
	
	@media screen and (max-width: 600px) {
    padding: 5rem 0rem;
	}
}

.startups-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 1rem auto 3rem auto;
    justify-content: center;
    @media screen and (max-width: 1100px) {
        max-width: 90%;
    }
    @media screen and (max-width: 900px) {
        max-width: 100%;
    }
}

.startup-image-box{
    width: 16%;
    height: 8rem;
    overflow: hidden;
    margin: 2rem;
    @media screen and (max-width: 800px) {
        width: 23%;
    }
    @media screen and (max-width: 500px) {
        width: 33%;
    }
    & img{
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        cursor: pointer;
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
        }
    }
}
