@import "../../variables.scss";

.initiatives-section {
  margin-top: -8rem;
  padding: 15rem 10rem;
  padding-bottom: 7rem;

  @include sectionStars;

  @media (max-width: 1200px) {
    padding: 15rem 4rem 8rem 4rem;
  }
  @media (max-width: 900px) {
    padding: 15rem 3rem 6rem 3rem;
  }
  @media screen and (max-width: 700px) {
    padding: 15rem 2rem 3rem 2rem;
  }
  @media screen and (max-width: 700px) {
    padding: 15rem 2rem 3rem 2rem;
  }
  /* @media screen and (max-width: 450px) {*/
  /*   padding: 15rem 3rem;*/
  /* }*/
}
.initiatives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
          justify-content: space-around;
  padding-top: 3rem;
  @media screen and (max-width: 550px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
  }
  /* margin-top: 9rem;*/
  &-title {
    text-align: center;
    font-size: 1.8rem;
    color: $primary-color-1;
    margin-top: 1.7rem;
    font-weight: 600;
    @media screen and (max-width: 550px) {
      margin-bottom: 5rem;
    }
  }

  &-svgs {
    width: 15.3rem;
    padding: 3rem;
    cursor: pointer;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 6px solid $primary-color-1;
    overflow: hidden;
    background-color: $primary-color-1;
    @media screen and (max-width: 900px) {
      width: 13.3rem;
    }
    @media screen and (max-width: 550px) {
      margin: 0 auto;
    }
  }
}

.svg1 {
  &:hover #scale {
    -webkit-animation: teacherScale 1s ease infinite;
            animation: teacherScale 1s ease infinite;
    -webkit-transform-origin: 50% 30% 0;
        -ms-transform-origin: 50% 30% 0;
            transform-origin: 50% 30% 0;
  }
  &:hover #lines {
    -webkit-animation: fadeIn 1.7s ease infinite;
            animation: fadeIn 1.7s ease infinite;
  }

  & .cls-1 {
    fill: #46738c;
  }

  & .cls-2 {
    fill: #ff8c46;
  }

  & .cls-3 {
    fill: #ffb69e;
  }

  & .cls-4 {
    fill: #343e6b;
  }

  & .cls-5 {
    fill: #414b82;
  }

  & .cls-6 {
    fill: #252d5c;
  }

  & .cls-7 {
    fill: #1b224a;
  }

  & .cls-14,
  & .cls-8 {
    fill: #fff;
  }

  & .cls-9 {
    fill: #ff3c3c;
  }

  & .cls-10 {
    fill: #80391b;
  }

  & .cls-11 {
    fill: #55c7a6;
  }

  & .cls-12 {
    fill: #78beff;
  }

  & .cls-13 {
    fill: #ba6746;
  }

  & .cls-14 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 4px;
  }
}

@-webkit-keyframes teacherScale {
  0% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
}

@keyframes teacherScale {
  0% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
}

.svg2 {
  #internship-lines > * {
    fill: #82ccdd;
  }
  #internship-message,
  #internship-message-2,
  #internship-lines,
  #internship-lines-2 {
    opacity: 0;
  }
  &:hover #internship-message {
    -webkit-animation: fadeIn 0.4s ease both;
            animation: fadeIn 0.4s ease both;
  }
  &:hover #internship-message-2 {
    -webkit-animation: fadeIn 0.6s ease 0.5s both;
            animation: fadeIn 0.6s ease 0.5s both;
  }
  &:hover #internship-lines {
    -webkit-animation: fadeIn 0.7s ease 1.2s forwards;
            animation: fadeIn 0.7s ease 1.2s forwards;
  }
  &:hover #internship-lines-2 {
    -webkit-animation: fadeIn 0.8s ease 2s forwards;
            animation: fadeIn 0.8s ease 2s forwards;
  }

  & .cls-1 {
    fill: #f2bb80;
  }

  & .cls-2 {
    fill: #4398d1;
  }

  & .cls-3 {
    fill: #87ced9;
  }

  & .cls-4 {
    fill: #6b402a;
  }

  & .cls-5 {
    fill: #126099;
  }

  & .cls-6 {
    fill: #d1d1d1;
  }

  & .cls-7 {
    fill: #3582bd;
  }

  & .cls-8 {
    fill: #539fbd;
  }
}

.svg3 {
  & #backboard {
    fill: #dceaf4;
    -webkit-transform: translate(50px, -260px);
        -ms-transform: translate(50px, -260px);
            transform: translate(50px, -260px);
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  & #ecelllogosvg {
    opacity: 0;
    -webkit-transition: all 0.5s ease 0.9s;
    -o-transition: all 0.5s ease 0.9s;
    transition: all 0.5s ease 0.9s;
  }
  &:hover #ecelllogosvg {
    opacity: 1;
  }
  &:hover #backboard {
    -webkit-transform: translate(50px, 0);
        -ms-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  & .cls-1 {
    fill: none;
  }

  & .cls-2 {
    fill: #f0b97d;
  }

  & .cls-3 {
    fill: #ecf0f1;
  }

  & .cls-4 {
    fill: #ff5b61;
  }

  & .cls-5 {
    fill: #15bdb1;
  }

  & .cls-6 {
    fill: #20d0c2;
  }

  & .cls-7 {
    fill: #fed198;
  }

  & .cls-8 {
    fill: #666;
  }

  & .cls-9 {
    fill: #fff;
  }

  & .cls-10 {
    fill: #ccc;
  }

  & .cls-11 {
    fill: #fbb429;
  }

  & .cls-12 {
    fill: #f5a209;
  }

  & .cls-13 {
    font-size: 21px;
    font-family: "Kirang Haerang", cursive;
  }

  & .cls-14 {
    letter-spacing: -0.01em;
  }

  & .cls-15 {
    letter-spacing: -0.01em;
  }
}
