.heading,
.heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  letter-spacing: 2px;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Kirang Haerang", cursive; }
  @media screen and (max-width: 500px) {
    .heading,
    .heading-2 {
      font-size: 3.7rem; } }
  @media screen and (max-width: 400px) {
    .heading,
    .heading-2 {
      font-size: 3.3rem; } }
  .heading::before, .heading::after,
  .heading-2::before,
  .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 0.5rem; }
    @media screen and (max-width: 500px) {
      .heading::before, .heading::after,
      .heading-2::before,
      .heading-2::after {
        width: 5rem; } }
  .heading::before,
  .heading-2::before {
    left: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::before,
      .heading-2::before {
        left: -7rem; } }
  .heading::after,
  .heading-2::after {
    right: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::after,
      .heading-2::after {
        right: -7rem; } }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #ddd; }
  @media screen and (max-width: 400px) {
    .heading-2 {
      font-size: 3.8rem; } }
  .heading-2::before, .heading-2::after {
    background-color: #ddd; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #ddd;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.button-light,
.button-light-2,
.button-light-3,
.button-dark-1 {
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light:focus,
  .button-light-2:hover,
  .button-light-2:active,
  .button-light-2:focus,
  .button-light-3:hover,
  .button-light-3:active,
  .button-light-3:focus,
  .button-dark-1:hover,
  .button-dark-1:active,
  .button-dark-1:focus {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 1px solid #f8efaf;
  color: #f8efaf;
  font-weight: lighter;
  font-size: 1.6rem; }
  @media screen and (max-width: 600px) {
    .button-light-2 {
      font-weight: bold; } }
  .button-light-2:hover, .button-light-2:active {
    background-color: #f8efaf;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1rem 2.1rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }

.filter {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; }
  .filter-item {
    font-size: 1.5rem;
    position: relative;
    align-self: flex-start; }
  .filter-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
  .filter-item.activeFilter {
    background-color: #2c3a47;
    color: #eee;
    padding-left: 3.5rem; }
    .filter-item.activeFilter img {
      width: 1.7rem; }

.checksvg {
  width: 0;
  transition: all 0.3s ease;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%); }

.showJoinMessage,
.showSubscribeMessage {
  position: absolute;
  background-color: #fae6e6;
  font-size: 1.8rem;
  top: -11rem;
  padding: 0.8rem 2rem;
  border-left: 4px solid #f78c8c;
  color: #665555;
  border-radius: 5px;
  left: 50%;
  box-sizing: border-box;
  z-index: 1000;
  min-width: 34rem;
  transform: translateX(-50%);
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3); }

.showJoinMessage.show {
  animation: fadeinblogmessage 4s ease both; }

.showSubscribeMessage.success {
  border-left: 4px solid #1ac950;
  background-color: #f7fffa;
  color: #556655;
  animation: fadeinsubscribemessage 4s ease both; }

.showSubscribeMessage.failure {
  border-left: 4px solid #f78c8c;
  background-color: #fae6e6;
  color: #665555;
  animation: fadeinsubscribemessage 4s ease both; }

@keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

.initiatives-section {
  margin-top: -8rem;
  padding: 15rem 10rem;
  padding-bottom: 7rem;
  position: relative; }
  .initiatives-section::before, .initiatives-section::after {
    content: "";
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: -1;
    background-color: rgba(44, 58, 71, 0.04); }
  .initiatives-section::before {
    width: 30rem;
    height: 30rem;
    top: 4rem;
    left: 1rem;
    transform: rotate(10deg); }
  .initiatives-section::after {
    width: 15rem;
    height: 15rem;
    top: 2rem;
    right: 4rem;
    transform: rotate(50deg); }
  @media (max-width: 1200px) {
    .initiatives-section {
      padding: 15rem 4rem 8rem 4rem; } }
  @media (max-width: 900px) {
    .initiatives-section {
      padding: 15rem 3rem 6rem 3rem; } }
  @media screen and (max-width: 700px) {
    .initiatives-section {
      padding: 15rem 2rem 3rem 2rem; } }
  @media screen and (max-width: 700px) {
    .initiatives-section {
      padding: 15rem 2rem 3rem 2rem; } }

.initiatives {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem; }
  @media screen and (max-width: 550px) {
    .initiatives {
      flex-direction: column; } }
  .initiatives-title {
    text-align: center;
    font-size: 1.8rem;
    color: #2c3a47;
    margin-top: 1.7rem;
    letter-spacing: 1.5px; }
    @media screen and (max-width: 550px) {
      .initiatives-title {
        margin-bottom: 5rem; } }
  .initiatives-svgs {
    width: 15.3rem;
    padding: 3rem;
    cursor: pointer;
    border-radius: 50%;
    border: 6px solid #2c3a47;
    overflow: hidden;
    background-color: #2c3a47; }
    @media screen and (max-width: 900px) {
      .initiatives-svgs {
        width: 13.3rem; } }
    @media screen and (max-width: 550px) {
      .initiatives-svgs {
        margin: 0 auto; } }

.svg1:hover #scale {
  animation: teacherScale 1s ease infinite;
  transform-origin: 50% 30% 0; }

.svg1:hover #lines {
  animation: fadeIn 1.7s ease infinite; }

.svg1 .cls-1 {
  fill: #46738c; }

.svg1 .cls-2 {
  fill: #ff8c46; }

.svg1 .cls-3 {
  fill: #ffb69e; }

.svg1 .cls-4 {
  fill: #343e6b; }

.svg1 .cls-5 {
  fill: #414b82; }

.svg1 .cls-6 {
  fill: #252d5c; }

.svg1 .cls-7 {
  fill: #1b224a; }

.svg1 .cls-14,
.svg1 .cls-8 {
  fill: #fff; }

.svg1 .cls-9 {
  fill: #ff3c3c; }

.svg1 .cls-10 {
  fill: #80391b; }

.svg1 .cls-11 {
  fill: #55c7a6; }

.svg1 .cls-12 {
  fill: #78beff; }

.svg1 .cls-13 {
  fill: #ba6746; }

.svg1 .cls-14 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px; }

@keyframes teacherScale {
  0% {
    transform: rotateZ(-20deg); }
  50% {
    transform: rotateZ(10deg); }
  100% {
    transform: rotateZ(-20deg); } }

.svg2 #internship-lines > * {
  fill: #82ccdd; }

.svg2 #internship-message,
.svg2 #internship-message-2,
.svg2 #internship-lines,
.svg2 #internship-lines-2 {
  opacity: 0; }

.svg2:hover #internship-message {
  animation: fadeIn 0.4s ease both; }

.svg2:hover #internship-message-2 {
  animation: fadeIn 0.6s ease 0.5s both; }

.svg2:hover #internship-lines {
  animation: fadeIn 0.7s ease 1.2s forwards; }

.svg2:hover #internship-lines-2 {
  animation: fadeIn 0.8s ease 2s forwards; }

.svg2 .cls-1 {
  fill: #f2bb80; }

.svg2 .cls-2 {
  fill: #4398d1; }

.svg2 .cls-3 {
  fill: #87ced9; }

.svg2 .cls-4 {
  fill: #6b402a; }

.svg2 .cls-5 {
  fill: #126099; }

.svg2 .cls-6 {
  fill: #d1d1d1; }

.svg2 .cls-7 {
  fill: #3582bd; }

.svg2 .cls-8 {
  fill: #539fbd; }

.svg3 #backboard {
  fill: #dceaf4;
  transform: translate(50px, -260px);
  transition: all 0.8s ease; }

.svg3 #ecelllogosvg {
  opacity: 0;
  transition: all 0.5s ease 0.9s; }

.svg3:hover #ecelllogosvg {
  opacity: 1; }

.svg3:hover #backboard {
  transform: translate(50px, 0); }

.svg3 .cls-1 {
  fill: none; }

.svg3 .cls-2 {
  fill: #f0b97d; }

.svg3 .cls-3 {
  fill: #ecf0f1; }

.svg3 .cls-4 {
  fill: #ff5b61; }

.svg3 .cls-5 {
  fill: #15bdb1; }

.svg3 .cls-6 {
  fill: #20d0c2; }

.svg3 .cls-7 {
  fill: #fed198; }

.svg3 .cls-8 {
  fill: #666; }

.svg3 .cls-9 {
  fill: #fff; }

.svg3 .cls-10 {
  fill: #ccc; }

.svg3 .cls-11 {
  fill: #fbb429; }

.svg3 .cls-12 {
  fill: #f5a209; }

.svg3 .cls-13 {
  font-size: 21px;
  font-family: "Kirang Haerang", cursive; }

.svg3 .cls-14 {
  letter-spacing: -0.01em; }

.svg3 .cls-15 {
  letter-spacing: -0.01em; }
