@import "../../variables.scss";

#nav-ham-button {
  position: relative;
  right: 0rem;
  top: 5rem;
  width: 2.5rem;
  height: 0.3rem;
  z-index: 100;
  display: none;
  transition: all 0.5s ease;
  background-color: #ddd;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 130%;
    background-color: #ddd;
    height: 100%;
    right: 0;
    transition: all 0.5s ease;
  }
  &::before {
    top: -1rem;
  }
  &::after {
    top: 1rem;
  }

  &.toggleNavButton {
    visibility: hidden;
    &::before {
      transform: rotate(45deg);
      top: 0;
      visibility: visible;
    }
    &::after {
      top: 0;
      visibility: visible;
      transform: rotate(-45deg);
    }
  }
  @media screen and (max-width: 580px) {
    display: block;
  }
}

#nav-background {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: $primary-color-1;
  transition: all 0.5s ease;
  &.show {
    left: 30%;
  }
  @media screen and (min-width: 580px) {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 11;
  width: 100%;
  background-color: $primary-color-1;
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  &_logo {
    filter: contrast(0.7) brightness(1.1);
    width: 10rem;
    height: 10rem;
  }
  &_nav,
  &_nav_mob {
    list-style-type: none;
    display: flex;
    align-items: center;
    &--item {
      margin-left: 2rem;
    }
    &--item.activeNav a {
      color: $primary-color-2 !important;
    }
    &--link {
      text-decoration: none;
      color: #ddd;
      font-size: 1.7rem;
      font-weight: lighter;
      letter-spacing: 2px;
      transition: all 0.3s ease;

      &:hover {
        color: $primary-color-2;
      }
    }
    @media screen and (max-width: 580px) {
      display: none;
    }
  }
  &_nav_mob {
    display: column;
    padding: 0;

    &--link {
      font-size: 3rem;
      margin-bottom: 2rem;
      display: block;
      font-weight: bold;
    }
    &-join {
      margin-top: 3rem;
      padding: 1.5rem 3rem !important;
      margin-left: -3rem;
      font-size: 2.5rem !important;
    }

    @media screen and (max-width: 580px) {
      display: block;
    }
  }
}

.nav-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
