@import '../../variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 11;
  width: 100%;
  background-color: $primary-color-1;
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  &_logo {
    filter: contrast(0.7) brightness(1.1);
    width: 10rem;
    height: 10rem;
  }
  &_nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    &--item {
      margin-left: 2rem;
    }
    &--link {
      text-decoration: none;
      color: #eee;
      font-size: 1.7rem;
      font-weight: lighter;
      letter-spacing: 2px;
      transition: all 0.3s ease;

      &:active,
      &:focus,
      &:hover {
        color: $primary-color-2;
      }
    }
  }
}
.subscribe-light {
  background-color: transparent;
  border: 2px solid $primary-color-2;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  color: $primary-color-2;
  box-sizing: border-box;
  letter-spacing: 1px;
  &:hover,
  &:active {
    background-color: $primary-color-2;
    color: $primary-color-1;
    outline: none;
  }
}