@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
.heading,
.heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-top: 2rem; }
  @media screen and (max-width: 500px) {
    .heading,
    .heading-2 {
      font-size: 3.7rem; } }
  @media screen and (max-width: 400px) {
    .heading,
    .heading-2 {
      font-size: 3.3rem; } }
  .heading::before, .heading::after,
  .heading-2::before,
  .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 0.5rem; }
    @media screen and (max-width: 500px) {
      .heading::before, .heading::after,
      .heading-2::before,
      .heading-2::after {
        width: 5rem; } }
  .heading::before,
  .heading-2::before {
    left: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::before,
      .heading-2::before {
        left: -7rem; } }
  .heading::after,
  .heading-2::after {
    right: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::after,
      .heading-2::after {
        right: -7rem; } }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #ddd; }
  @media screen and (max-width: 400px) {
    .heading-2 {
      font-size: 3.8rem; } }
  .heading-2::before, .heading-2::after {
    background-color: #ddd; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #ddd;
  line-height: 2.6rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; }

.button-light,
.button-light-2,
.button-light-3,
.button-dark-1 {
  -webkit-border-radius: 3rem;
  border-radius: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light:focus,
  .button-light-2:hover,
  .button-light-2:active,
  .button-light-2:focus,
  .button-light-3:hover,
  .button-light-3:active,
  .button-light-3:focus,
  .button-dark-1:hover,
  .button-dark-1:active,
  .button-dark-1:focus {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 1px solid #f8efaf;
  color: #f8efaf;
  font-weight: lighter;
  font-size: 1.6rem; }
  @media screen and (max-width: 600px) {
    .button-light-2 {
      font-weight: bold; } }
  .button-light-2:hover, .button-light-2:active {
    background-color: #f8efaf;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

/* .button-light-4 {*/
/* background-color: transparent;*/
/*   border: 2px solid #F8EFAF;*/
/*   color: #F8EFAF;*/
/*   padding: .5rem 1.5rem;*/
/*   &:hover,*/
/*   &:active {*/
/*     background-color: #F8EFAF;*/
/*     color: $primary-color-1;*/
/*   }*/
/* }*/
.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1rem 2.1rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }

.filter {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  /* justify-content: flex-end;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .filter-item {
    font-size: 1.5rem;
    position: relative;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .filter-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
  .filter-item.activeFilter {
    background-color: #2c3a47;
    color: #eee;
    padding-left: 3.5rem; }
    .filter-item.activeFilter img {
      width: 1.7rem; }

.checksvg {
  width: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.showJoinMessage,
.showSubscribeMessage {
  position: absolute;
  background-color: #fae6e6;
  font-size: 1.8rem;
  top: -11rem;
  padding: 0.8rem 2rem;
  border-left: 4px solid #f78c8c;
  color: #665555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  min-width: 34rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3); }

.showJoinMessage.show {
  -webkit-animation: fadeinblogmessage 4s ease both;
  animation: fadeinblogmessage 4s ease both; }

.showSubscribeMessage.success {
  border-left: 4px solid #1ac950;
  background-color: #f7fffa;
  color: #556655;
  -webkit-animation: fadeinsubscribemessage 4s ease both;
  animation: fadeinsubscribemessage 4s ease both; }

.showSubscribeMessage.failure {
  border-left: 4px solid #f78c8c;
  background-color: #fae6e6;
  color: #665555;
  -webkit-animation: fadeinsubscribemessage 4s ease both;
  animation: fadeinsubscribemessage 4s ease both; }

@-webkit-keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@-webkit-keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

#nav-ham-button {
  position: relative;
  right: 0rem;
  top: 5rem;
  width: 2.5rem;
  height: 0.3rem;
  z-index: 100;
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #ddd; }
  #nav-ham-button::before, #nav-ham-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 130%;
    background-color: #ddd;
    height: 100%;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #nav-ham-button::before {
    top: -1rem; }
  #nav-ham-button::after {
    top: 1rem; }
  #nav-ham-button.toggleNavButton {
    visibility: hidden; }
    #nav-ham-button.toggleNavButton::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      visibility: visible; }
    #nav-ham-button.toggleNavButton::after {
      top: 0;
      visibility: visible;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media screen and (max-width: 580px) {
    #nav-ham-button {
      display: block; } }

#nav-background {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: #2c3a47;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #nav-background.show {
    left: 30%; }
  @media screen and (min-width: 580px) {
    #nav-background {
      display: none; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 11;
  width: 100%;
  background-color: #2c3a47;
  padding: 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .header_logo {
    -webkit-filter: contrast(0.7) brightness(1.1);
    filter: contrast(0.7) brightness(1.1);
    width: 10rem;
    height: 10rem; }
  .header_nav, .header_nav_mob {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .header_nav--item, .header_nav_mob--item {
      margin-left: 2rem; }
    .header_nav--item.activeNav a, .header_nav_mob--item.activeNav a {
      color: #85e1d4 !important; }
    .header_nav--link, .header_nav_mob--link {
      text-decoration: none;
      color: #ddd;
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: 2px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header_nav--link:hover, .header_nav_mob--link:hover {
        color: #85e1d4; }
    @media screen and (max-width: 580px) {
      .header_nav, .header_nav_mob {
        display: none; } }
  .header_nav_mob {
    display: column;
    padding: 0; }
    .header_nav_mob--link {
      font-size: 3rem;
      margin-bottom: 2rem;
      display: block;
      font-weight: 400; }
    .header_nav_mob-join {
      margin-top: 3rem;
      padding: 1.5rem 3rem !important;
      margin-left: -3rem;
      font-size: 2.5rem !important; }
    @media screen and (max-width: 580px) {
      .header_nav_mob {
        display: block; } }

.nav-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
