@import "../../variables.scss";

#nav-ham-button {
  position: relative;
  right: 0rem;
  top: 5rem;
  width: 2.5rem;
  height: 0.3rem;
  z-index: 100;
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #ddd;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 130%;
    background-color: #ddd;
    height: 100%;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  &::before {
    top: -1rem;
  }
  &::after {
    top: 1rem;
  }

  &.toggleNavButton {
    visibility: hidden;
    &::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0;
      visibility: visible;
    }
    &::after {
      top: 0;
      visibility: visible;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @media screen and (max-width: 580px) {
    display: block;
  }
}

#nav-background {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: $primary-color-1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.show {
    left: 30%;
  }
  @media screen and (min-width: 580px) {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 11;
  width: 100%;
  background-color: $primary-color-1;
  padding: 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  &_logo {
    -webkit-filter: contrast(0.7) brightness(1.1);
            filter: contrast(0.7) brightness(1.1);
    width: 10rem;
    height: 10rem;
    @media screen and (max-width: 600px) {
      visibility: hidden;
    }
    @media screen and (max-width: 500px) {
      visibility: hidden;
    }
    @media screen and (max-width: 450px) {
      visibility: hidden;
  }}
  &_nav,
  &_nav_mob {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
    &--item {
      margin-left: 2rem;
    }
    &--item.activeNav a {
      color: $primary-color-2 !important;
    }
    &--link {
      text-decoration: none;
      color: #ddd;
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: 2px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        color: $primary-color-2;
      }
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  &_nav_mob {
    display: column;
    padding: 0;

    &--link {
      font-size: 3rem;
      margin-bottom: 2rem;
      display: block;
      font-weight: 400;
    }
    &-join {
      margin-top: 3rem;
      padding: 1.5rem 3rem !important;
      margin-left: -3rem;
      font-size: 2.5rem !important;
    }

    @media screen and (max-width: 580px) {
      display: block;
    }
  }
}

.nav-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
