@import "../../variables.scss";

.singleblog-section {
	padding: 5rem 5rem;
	background-color: #fff;
	font-family: $font-roboto;
	@media (max-width: 1000px) {
		padding: 5rem 3rem;
	}
	@media screen and (max-width: 600px) {
		padding: 5rem 2rem;
	}
	// @media screen and (max-width: 500px) {
	// 	padding: 2rem 2rem 11rem 2rem;
	// 	text-align: center;
	// }
	// @media screen and (max-width: 400px) {
	// 	clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 100%);
	// }
}

.singleblog {
	&-title {
		font-size: 3.8rem;
		// font-family: $font-hanalei;
		letter-spacing: 2px;
		color: #218c74;
		font-weight: bolder;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 3rem;
	}
	&-details {
		display: flex;
		justify-content: space-between;
		font-size: 2rem;
		font-style: italic;
		color: #555;
	}
}
.singleblog-section #content {
	margin-bottom: 4rem;
	font-size: 200%;
	margin-top: 5rem;
	& p {
		color: #555;
	}
	& h1,
	& h2,
	& h3,
	& h4,
	& h5 {
		font-size: 150%;
		color: #218c74;
	}
	& a {
		color: #218c74;
		font-weight: 500;
	}
	& img {
		width: 100%;
		height: 55rem;
		display: block;
		margin: 3rem auto;
		box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
		@media (max-width: 1100px) {
			height: 50rem;
		}
		@media (max-width: 1000px) {
			height: 45rem;
		}
		@media (max-width: 800px) {
			height: 40rem;
		}
		@media (max-width: 600px) {
			height: 35rem;
		}
	}
}
