@import '../../variables.scss';

.gallery-section{
	height: 100vh;
	padding: 7rem 10rem 15rem 10rem;
}
.gallery{
	display: flex;
	margin-top: 2rem;
	margin-bottom: 4rem;
	justify-content: flex-start;
	flex-wrap: wrap;
	&-imageBox{
		position: relative;
		width: 30%;
		height: 25rem;
		margin: 1.5rem 1.6666%;
		border-radius: 2rem;
		overflow: hidden;
		cursor:pointer;
			transition: all .3s ease;
	
		&::before{
			content: "";
			display: inline-block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all .3s ease;
			background: rgba(44, 58, 71, .2);
		}
		&:hover::before{
			background: rgba(44, 58, 71, .3);
		}
		&:hover{
			transform: scale(1.05);
		}
	}
	&-image{
		width: 100%;
		height: 100%;
	}
}
.gallery-filter{
	padding-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	// justify-content: flex-end;
	display: flex;
	list-style-type: none;
	&-item:not(:last-child){
		margin-right: 1rem;
	}
	&-item.activeFilter{
		background-color: $primary-color-1;
		color: $primary-color-4;
	}
}