@import "../../variables.scss";

.gallery-section {
	// height: 100vh;
	padding: 8rem 10rem;
	@include sectionStars;
}
.gallery {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 4rem;
	justify-content: flex-start;
	flex-wrap: wrap;

	&-imageBox {
		position: relative;
		box-sizing: border-box;
		width: 31%;
		height: 26rem;
		margin: 1.8rem 1.1666%;
		border-radius: 2rem;
		border: 5px solid #fff;
		overflow: hidden;
		cursor: pointer;
		transition: all 0.3s ease;
		box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
	}
	&-imageBox:hover &-image {
		transform: scale(1.1);
		filter: brightness(1);
	}
	&-image {
		width: 100%;
		filter: brightness(0.9);
		height: 100%;
		transition: all 0.3s ease;
	}
}
