@import '../../variables.scss';


.gallery-section{
	height: 100vh;
	padding: 7rem 10rem 15rem 10rem;
	position: absolute;
	&::before, &::after{
		content: "";
		position: absolute;
		clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		z-index: -1;
		background-color: rgba(44, 58, 71, .04);
	}

	&::before{
		width: 30rem;
		height: 30rem;
		top: 4rem;
		left: 1rem;
		transform: rotate(10deg);
	}
	&::after{
		width: 15rem;
		height: 15rem;
		top: 2rem;
		right: 4rem;
		transform: rotate(50deg);
	}
}
.gallery{
	display: flex;
	margin-top: 1rem;
	margin-bottom: 4rem;
	justify-content: flex-start;
	flex-wrap: wrap;
	

	&-imageBox{
		position: relative;
		box-sizing: border-box;
		width: 31%;
		height: 26rem;
		margin: 1.8rem 1.1666%;
		border: 5px solid #fff;
		overflow: hidden;
		cursor:pointer;
		transition: all .3s ease;
		box-shadow: 0rem .1rem 1rem rgba(0,0,0,.2);
	}
	&-imageBox:hover &-image{
		transform: scale(1.1);
		filter: brightness(1);
	}
	&-image{
		width: 100%;
		filter: brightness(.9);
		height: 100%;
		transition: all .3s ease;
	}


}
