@import "../../variables.scss";

.footer-section {
	padding: 5rem 10rem 2rem 10rem;
	background-color: $primary-color-1;
	-webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
	        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
	margin-top: 0rem;
	@media (max-width: 1200px) {
		padding: 5rem 8rem 2rem 6rem;
	}
	@media (max-width: 850px) {
		padding: 8rem 6rem 4rem 4rem;
		padding: 8rem 2rem 4rem 2rem;
		-webkit-clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
		        clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
	}
	@media screen and (max-width: 600px) {
		padding: 8rem 4rem 4rem 4rem;
		-webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
		        clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
	}
	@media screen and (max-width: 450px) {
		padding: 8rem 2rem 4rem 2rem;
		-webkit-clip-path: polygon(0% 4%, 50% 4%, 100% 0%, 100% 100%, 0% 100%);
		        clip-path: polygon(0% 4%, 50% 4%, 100% 0%, 100% 100%, 0% 100%);
	}
	@media screen and (max-width: 360px) {
		padding: 8rem 0.8rem 4rem 0.8rem;
	}
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	color: $primary-color-4;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	&--heading {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 2.3rem;
		letter-spacing: 2px;
		color: $tertiary-color;
		margin-bottom: 2.6rem;
		@media screen and (max-width: 450px) {
			margin-bottom: 1rem;
		}
	}
	&--list {
		list-style: none;
		padding: 0;
		font-size: 1.4rem;
		letter-spacing: 1px;
		@media screen and (max-width: 800px) {
			font-size: 1.5rem;
		}
		@media screen and (max-width: 700px) {
			font-size: 1.7rem;
		}
	}
	&--listitem {
		margin-bottom: 1rem;
	}
	&--icon {
		width: 3rem;
		vertical-align: middle;
	}
	&--link {
		text-decoration: none;
		color: #eee;
		font-weight: 600;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		cursor: pointer;
		&:active,
		&:focus {
			color: #eee;
		}
		&:hover {
			color: $primary-color-2;
		}
	}
	&--list-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        -webkit-flex-direction: column;
		        flex-direction: column;
	}
	&-1 {
		width: 30%;
		margin: 1%;
		&-logo {
			width: 13rem;
			overflow: hidden;
			height: 10rem;
			-webkit-filter: brightness(0.85);
			        filter: brightness(0.85);
		}
		& img {
			width: 100%;
		}
		&--website {
			font-size: 2rem;
			// font-family: $font-kirang;
			margin-top: 1rem;
			font-weight: 400;
			color: #eee;
			// letter-spacing: 1px;
		}
		& .copyright {
			font-size: 1.5rem;
			margin-top: 1.5rem;
			font-weight: lighter;
			letter-spacing: 1px;
			line-height: 150%;
			color: #aaa;
			@media screen and (max-width: 500px) {
				font-size: 1.7rem;
			}
		}
	}
	&-2,
	&-3,
	&-4 {
		width: 18%;
		padding-top: 3rem;
		margin: 1%;
	}
	&-2 {
		width: 26%;
	}
	&-dev {
		color: #eee;
		text-align: center;
		font-size: 1.4rem;
		@media screen and (max-width: 500px) {
			font-size: 1.7rem;
		}
		&-link {
			color: $primary-color-2;
			text-decoration: none;
			&:active,
			&:focus {
				color: $primary-color-2;
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.footer {
		&-3 {
			width: 25%;
		}
		&-2 {
			margin-left: 4%;
			width: 26%;
		}
		&-1 {
			width: 40%;
		}
		&-4 {
			width: 100%;

			text-align: center;
		}
		&--list-nav {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        -webkit-justify-content: center;
			        justify-content: center;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        -webkit-flex-direction: row;
			        flex-direction: row;
			& li {
				margin-right: 1.7rem;
				@media screen and (max-width: 500px) {
					margin-right: 1rem;
				}
				@media screen and (max-width: 400px) {
					margin-right: 0.5rem;
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.footer {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        -webkit-justify-content: center;
		        justify-content: center;
		&-1 {
			width: 100%;
			text-align: center;
			&-logo {
				display: block;
				margin: 0.5rem auto;
			}
		}
		&-2,
		&-3 {
			width: 25rem;
		}
		&-3 {
			padding-left: 5rem;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
	}
}
@media screen and (max-width: 460px) {
	.footer {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        -webkit-justify-content: center;
		        justify-content: center;
		&-1 {
			margin-bottom: 1.8rem;
		}
		&-2,
		&-3 {
			width: 100%;
			padding: 0;
			margin: 1rem;
			text-align: center;
		}
		&-4 {
			padding: 0;
		}
	}
}
