@import "../../variables.scss";

.footer-section {
	padding: 5rem 10rem 2rem 10rem;
	background-color: $primary-color-1;
	clip-path: polygon(0% 10%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
	margin-top: -4rem;
	@media (max-width: 1200px) {
		padding: 5rem 8rem 2rem 6rem;
	}
	@media (max-width: 850px) {
		padding: 8rem 6rem 2rem 4rem;
	}
	@media screen and (max-width: 600px) {
		padding: 8rem 4rem 2rem 2rem;
	}
	@media screen and (max-width: 450px) {
		padding: 12rem 4rem 2rem 2rem;
	}
}

.footer {
	display: flex;
	color: $primary-color-4;
	flex-wrap: wrap;
	&--heading {
		font-family: $font-hanalei;
		font-size: 2.3rem;
		letter-spacing: 4px;
		color: $tertiary-color;
		margin-bottom: 3rem;
	}
	&--list {
		list-style: none;
		padding: 0;
		font-size: 1.4rem;
		letter-spacing: 1px;
	}
	&--listitem {
		margin-bottom: 1rem;
	}
	&--icon {
		width: 3rem;
		vertical-align: middle;
	}
	&--link {
		text-decoration: none;
		color: #ddd;
		transition: all 0.3s ease;
		cursor: pointer;
		&:active,
		&:focus {
			color: #ddd;
		}
		&:hover {
			color: $primary-color-2;
		}
	}
	&--list-nav {
		display: flex;
		flex-direction: column;
	}
	&-1 {
		width: 30%;
		margin: 1%;
		&-logo {
			width: 13rem;
			overflow: hidden;
			height: 10rem;
			filter: brightness(0.9);
		}
		& img {
			width: 100%;
		}
		&--website {
			font-size: 2.5rem;
			font-family: $font-kirang;
			margin-top: 1rem;
			letter-spacing: 1px;
		}
		& .copyright {
			font-size: 1.5rem;
			margin-top: 1.5rem;
			font-weight: lighter;
			letter-spacing: 1px;
			line-height: 2.3rem;
			color: #aaa;
		}
	}
	&-2,
	&-3,
	&-4 {
		width: 18%;
		padding-top: 3rem;
		margin: 1%;
	}
	&-2 {
		width: 26%;
	}
	&-dev {
		color: #ddd;
		text-align: center;
		font-size: 1.4rem;
		&-link {
			color: $primary-color-2;
			text-decoration: none;
			&:active,
			&:focus {
				color: $primary-color-2;
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.footer {
		&-3 {
			width: 25%;
		}
		&-2 {
			margin-left: 4%;
			width: 26%;
		}
		&-1 {
			width: 40%;
		}
		&-4 {
			width: 100%;

			text-align: center;
		}
		&--list-nav {
			justify-content: center;
			flex-direction: row;
			& li {
				margin-right: 1.7rem;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.footer {
		justify-content: center;
		&-1 {
			width: 100%;
			text-align: center;
			&-logo {
				display: block;
				margin: 0.5rem auto;
			}
		}
		&-2,
		&-3 {
			width: 25rem;
		}
		&-3 {
			padding-left: 5rem;
			box-sizing: border-box;
		}
	}
}
@media screen and (max-width: 450px) {
	.footer {
		justify-content: center;

		&-2,
		&-3 {
			width: 100%;
			padding: 0;
			margin: 1rem;
			text-align: center;
		}
		&-4 {
			padding: 0;
		}
	}
}
