@import "./variables.scss";

body {
  margin: 0;
  font-family: $font-roboto;
  padding: 0;
  background-color: $primary-color-3;
}
html {
  font-size: 10px;
  @media screen and (max-width: 1000px) {
    font-size: 9px;
  }

  @media screen and (max-width: 800px) {
    font-size: 8px;
  }
  @media screen and (max-width: 500px) {
    font-size: 7.5px;
  }
}

#root {
  padding-top: 10rem;
}
