@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
$primary-color-1: #2c3a47;
$primary-color-2: #85e1d4;
$primary-color-3: #efefef;
$primary-color-4: #eee;
$secondary-color: #f8efaf;
$tertiary-color: #e66767;
$font-roboto: 'Open Sans', sans-serif;
$font-kirang: "Kirang Haerang", cursive;
$font-hanalei: "Hanalei Fill", cursive;
$font-ceveat: "Caveat", cursive;

@mixin sectionStars {
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		-webkit-clip-path: polygon(
			50% 0%,
			61% 35%,
			98% 35%,
			68% 57%,
			79% 91%,
			50% 70%,
			21% 91%,
			32% 57%,
			2% 35%,
			39% 35%
		);
		        clip-path: polygon(
			50% 0%,
			61% 35%,
			98% 35%,
			68% 57%,
			79% 91%,
			50% 70%,
			21% 91%,
			32% 57%,
			2% 35%,
			39% 35%
		);
		z-index: -1;
		background-color: rgba(44, 58, 71, 0.04);
	}

	&::before {
		width: 30rem;
		height: 30rem;
		top: 4rem;
		left: 1rem;
		-webkit-transform: rotate(10deg);
		    -ms-transform: rotate(10deg);
		        transform: rotate(10deg);
	}
	&::after {
		width: 15rem;
		height: 15rem;
		top: 2rem;
		right: 4rem;
		-webkit-transform: rotate(50deg);
		    -ms-transform: rotate(50deg);
		        transform: rotate(50deg);
	}
}

.heading,
.heading-2 {
	position: relative;
	margin-bottom: 5rem;
	display: inline-block;
	left: 50%;
	letter-spacing: 2px;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-transform: uppercase;
	font-size: 4.2rem;
	font-family: $font-roboto;
	font-weight: 800;
	margin-top: 2rem;
	@media screen and (max-width: 500px) {
		font-size: 3.7rem;
	}
	@media screen and (max-width: 400px) {
		font-size: 3.3rem;
	}
	&::before,
	&::after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 50%;
		width: 8rem;
		height: 0.5rem;
		@media screen and (max-width: 500px) {
			width: 5rem;
		}
	}
	&::before {
		left: -10rem;
		@media screen and (max-width: 500px) {
			left: -7rem;
		}
	}
	&::after {
		right: -10rem;
		@media screen and (max-width: 500px) {
			right: -7rem;
		}
	}
}
.heading {
	color: $primary-color-1;
	&::before,
	&::after {
		background-color: $primary-color-1;
	}
}

.heading-2 {
	color: #ddd;
	@media screen and (max-width: 400px) {
		font-size: 3.8rem;
	}
	&::before,
	&::after {
		background-color: #ddd;
	}
}

.para {
	margin-top: 2.5rem;
	margin-bottom: 3rem;
	color: #ddd;
	line-height: 2.6rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.button-light,
.button-light-2,
.button-light-3,
.button-dark-1 {
	-webkit-border-radius: 3rem;
	        border-radius: 3rem;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 0.8rem 1.7rem;
	font-size: 1.7rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	letter-spacing: 1px;
	font-weight: bold;
	&:hover,
	&:active,
	&:focus {
		outline: none;
	}
}
.button-light {
	background-color: transparent;
	border: 2px solid $primary-color-2;
	color: $primary-color-2;
	&:hover,
	&:active {
		background-color: $primary-color-2;
		color: $primary-color-1;
	}
}
.button-light-2 {
	background-color: transparent;
	border: 1px solid $secondary-color;
	color: $secondary-color;
	font-weight: lighter;
	font-size: 1.6rem;
	@media screen and (max-width: 600px) {
		font-weight: bold;
	}
	&:hover,
	&:active {
		background-color: $secondary-color;
		color: $primary-color-1;
	}
}

.button-light-3 {
	background-color: transparent;
	border: 2px solid $primary-color-1;
	color: $primary-color-1;
	&:hover,
	&:active {
		background-color: $primary-color-1;
		color: $primary-color-4;
	}
}
/* .button-light-4 {*/
/* background-color: transparent;*/
/*   border: 2px solid #F8EFAF;*/
/*   color: #F8EFAF;*/
/*   padding: .5rem 1.5rem;*/
/*   &:hover,*/
/*   &:active {*/
/*     background-color: #F8EFAF;*/
/*     color: $primary-color-1;*/
/*   }*/
/* }*/
.button-dark-1 {
	border: 2px solid $primary-color-1;
	background-color: $primary-color-1;
	color: $primary-color-4;
	padding: 1rem 2.1rem;
	&:hover,
	&:active {
		background-color: transparent;
		color: $primary-color-1;
	}
}

.filter {
	padding-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	/* justify-content: flex-end;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style-type: none;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	&-item {
		font-size: 1.5rem;
		position: relative;
		-ms-flex-item-align: start;
		    -webkit-align-self: flex-start;
		        align-self: flex-start;
	}
	&-item:not(:last-child) {
		margin-right: 1rem;
		margin-bottom: 1.5rem;
	}
	&-item.activeFilter {
		background-color: $primary-color-1;
		color: $primary-color-4;
		padding-left: 3.5rem;

		& img {
			width: 1.7rem;
		}
	}
}
.checksvg {
	width: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	left: 1rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.showJoinMessage,
.showSubscribeMessage {
	position: absolute;
	background-color: #fae6e6;
	font-size: 1.8rem;
	top: -11rem;
	padding: 0.8rem 2rem;
	border-left: 4px solid #f78c8c;
	color: #665555;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	left: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	z-index: 1000;
	min-width: 34rem;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
	        box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
}

.showJoinMessage.show {
	-webkit-animation: fadeinblogmessage 4s ease both;
	        animation: fadeinblogmessage 4s ease both;
}
.showSubscribeMessage.success {
	border-left: 4px solid #1ac950;
	background-color: #f7fffa;
	color: #556655;
	-webkit-animation: fadeinsubscribemessage 4s ease both;
	        animation: fadeinsubscribemessage 4s ease both;
}
.showSubscribeMessage.failure {
	border-left: 4px solid #f78c8c;
	background-color: #fae6e6;
	color: #665555;
	-webkit-animation: fadeinsubscribemessage 4s ease both;
	        animation: fadeinsubscribemessage 4s ease both;
}
@-webkit-keyframes fadeinblogmessage {
	0% {
		top: -10rem;
		opacity: 0;
	}
	7% {
		top: 11rem;
		opacity: 1;
	}
	90% {
		top: 11rem;
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: -10rem;
	}
}
@keyframes fadeinblogmessage {
	0% {
		top: -10rem;
		opacity: 0;
	}
	7% {
		top: 11rem;
		opacity: 1;
	}
	90% {
		top: 11rem;
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: -10rem;
	}
}
@-webkit-keyframes fadeinsubscribemessage {
	0% {
		top: -10rem;
		opacity: 0;
	}
	7% {
		top: 3rem;
		opacity: 1;
	}
	90% {
		top: 3rem;
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: -10rem;
	}
}
@keyframes fadeinsubscribemessage {
	0% {
		top: -10rem;
		opacity: 0;
	}
	7% {
		top: 3rem;
		opacity: 1;
	}
	90% {
		top: 3rem;
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: -10rem;
	}
}
