.heading, .heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Kirang Haerang", cursive; }
  .heading::before, .heading::after, .heading-2::before, .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: .5rem; }
  .heading::before, .heading-2::before {
    left: -10rem; }
  .heading::after, .heading-2::after {
    right: -10rem; }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #eee; }
  .heading-2::before, .heading-2::after {
    background-color: #eee; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #eee;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.button-light, .button-light-2, .button-light-3, .button-dark-1 {
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light-2:hover, .button-light-2:active, .button-light-3:hover, .button-light-3:active, .button-dark-1:hover, .button-dark-1:active {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 2px solid #F8EFAF;
  color: #F8EFAF; }
  .button-light-2:hover, .button-light-2:active {
    background-color: #F8EFAF;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1.3rem 2.4rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }
