
.heading{
  margin: auto;
  font-weight: 800;
  font-size: 3rem;
  color: #2c3a47;
  letter-spacing: 2px;
  max-width: 70%;
  padding: 20px;
  justify-content: center;
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-family: "Open Sans", sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .A {
    margin-left: 4rem;
  }
  .gallery-group {
    display: inline-block;
    padding-top: 0;
  }
  body {
    text-align: center;
    align-items: center;
  }
}
.mySlides {
  display:none;
  border: 15px solid #a9aaad;
  border-radius: 20px;
  box-shadow: 5px 10px #e2e2e2;
}

.slides {
  padding: 10px;
  margin: auto;
  justify-content: center;
  max-width: 900px;
  max-height: 400px;
}

.gallery-group{
  padding-top: 10rem;
  justify-content: center;
}
.gallery {
  margin: 10px;
  width: 350px;
  border-radius: 10px;
  background-color: #2c3a47;
  color: white;
  text-align: center;
  padding: 3rem;
}

.sub-content{
  justify-content: center;
  padding: 10px;
}

.A{
  flex: 30%;
  padding: 20px;
  max-width: 300px;
  border: 3px solid #f1f1f1;
  border-radius: 8px;
}
.B{
  flex: 70%;
  margin-left: 20px;
  padding: 20px;
  max-width: 700px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
