@import "../../variables.scss";

.sponsors-section {
	clip-path: polygon(0% 7%, 50% 7%, 100% 0%, 100% 93%, 50% 100%, 0% 100%);
	background-color: $primary-color-1;
	padding: 12rem 10rem 9rem 10rem;
	margin-top: -5rem;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	&-logobox {
		width: 17%;
		margin: 1.5%;
		border-radius: 1rem;
		overflow: hidden;
		cursor: pointer;
		// padding: 0.3rem;
		box-sizing: border-box;
		height: 12rem;
		background-color: $primary-color-4;
		transition: all 0.3s ease;
		filter: brightness(0.9);
		&:hover {
			filter: brightness(0.8);
		}
	}
	&-logo {
		height: 100%;
		width: 100%;
		vertical-align: middle;
	}
}
