@import "../../variables.scss";

.sponsors-section {
	// background-color: $primary-color-1;
	background-color: $primary-color-3;
	padding: 7rem 0rem;
	// margin-top rem;

	// @media (max-width: 1200px) {
	// 	padding: 9rem 0;
	// }
	// @media (max-width: 1000px) {
	// 	padding: 13rem 0rem 14rem 0rem;
	// }
	@media screen and (max-width: 550px) {
		padding: 6rem 0;
		-webkit-clip-path: polygon(0% 4%, 50% 4%, 100% 0%, 100% 96%, 50% 100%, 0% 100%);
		        clip-path: polygon(0% 4%, 50% 4%, 100% 0%, 100% 96%, 50% 100%, 0% 100%);
	}
}


// .sponsors-logo {
// 	height: 100%;
// 	width: 80%;
// 	margin: 0 auto;
// 	margin-top: 2rem;
// 	vertical-align: middle;
// 	border-radius: 1rem;
// 	margin-bottom: 3rem;
// 	// filter: grayscale(1)
// 	filter: contrast(.9);
// }
