.heading,
.heading-2 {
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
  left: 50%;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 4.2rem;
  font-family: "Kirang Haerang", cursive; }
  @media screen and (max-width: 500px) {
    .heading,
    .heading-2 {
      font-size: 3.7rem; } }
  @media screen and (max-width: 400px) {
    .heading,
    .heading-2 {
      font-size: 3.3rem; } }
  .heading::before, .heading::after,
  .heading-2::before,
  .heading-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 0.5rem; }
    @media screen and (max-width: 500px) {
      .heading::before, .heading::after,
      .heading-2::before,
      .heading-2::after {
        width: 5rem; } }
  .heading::before,
  .heading-2::before {
    left: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::before,
      .heading-2::before {
        left: -7rem; } }
  .heading::after,
  .heading-2::after {
    right: -10rem; }
    @media screen and (max-width: 500px) {
      .heading::after,
      .heading-2::after {
        right: -7rem; } }

.heading {
  color: #2c3a47; }
  .heading::before, .heading::after {
    background-color: #2c3a47; }

.heading-2 {
  color: #ddd; }
  @media screen and (max-width: 400px) {
    .heading-2 {
      font-size: 3.8rem; } }
  .heading-2::before, .heading-2::after {
    background-color: #ddd; }

.para {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: #ddd;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.button-light,
.button-light-2,
.button-light-3,
.button-dark-1 {
  -webkit-border-radius: 3rem;
  border-radius: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.8rem 1.7rem;
  font-size: 1.7rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold; }
  .button-light:hover, .button-light:active, .button-light:focus,
  .button-light-2:hover,
  .button-light-2:active,
  .button-light-2:focus,
  .button-light-3:hover,
  .button-light-3:active,
  .button-light-3:focus,
  .button-dark-1:hover,
  .button-dark-1:active,
  .button-dark-1:focus {
    outline: none; }

.button-light {
  background-color: transparent;
  border: 2px solid #85e1d4;
  color: #85e1d4; }
  .button-light:hover, .button-light:active {
    background-color: #85e1d4;
    color: #2c3a47; }

.button-light-2 {
  background-color: transparent;
  border: 1px solid #f8efaf;
  color: #f8efaf;
  font-weight: lighter;
  font-size: 1.6rem; }
  @media screen and (max-width: 600px) {
    .button-light-2 {
      font-weight: bold; } }
  .button-light-2:hover, .button-light-2:active {
    background-color: #f8efaf;
    color: #2c3a47; }

.button-light-3 {
  background-color: transparent;
  border: 2px solid #2c3a47;
  color: #2c3a47; }
  .button-light-3:hover, .button-light-3:active {
    background-color: #2c3a47;
    color: #eee; }

/* .button-light-4 {*/
/* background-color: transparent;*/
/*   border: 2px solid #F8EFAF;*/
/*   color: #F8EFAF;*/
/*   padding: .5rem 1.5rem;*/
/*   &:hover,*/
/*   &:active {*/
/*     background-color: #F8EFAF;*/
/*     color: $primary-color-1;*/
/*   }*/
/* }*/
.button-dark-1 {
  border: 2px solid #2c3a47;
  background-color: #2c3a47;
  color: #eee;
  padding: 1rem 2.1rem; }
  .button-dark-1:hover, .button-dark-1:active {
    background-color: transparent;
    color: #2c3a47; }

.filter {
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  /* justify-content: flex-end;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .filter-item {
    font-size: 1.5rem;
    position: relative;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .filter-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
  .filter-item.activeFilter {
    background-color: #2c3a47;
    color: #eee;
    padding-left: 3.5rem; }
    .filter-item.activeFilter img {
      width: 1.7rem; }

.checksvg {
  width: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.showJoinMessage,
.showSubscribeMessage {
  position: absolute;
  background-color: #fae6e6;
  font-size: 1.8rem;
  top: -11rem;
  padding: 0.8rem 2rem;
  border-left: 4px solid #f78c8c;
  color: #665555;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  min-width: 34rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3); }

.showJoinMessage.show {
  -webkit-animation: fadeinblogmessage 4s ease both;
  animation: fadeinblogmessage 4s ease both; }

.showSubscribeMessage.success {
  border-left: 4px solid #1ac950;
  background-color: #f7fffa;
  color: #556655;
  -webkit-animation: fadeinsubscribemessage 4s ease both;
  animation: fadeinsubscribemessage 4s ease both; }

.showSubscribeMessage.failure {
  border-left: 4px solid #f78c8c;
  background-color: #fae6e6;
  color: #665555;
  -webkit-animation: fadeinsubscribemessage 4s ease both;
  animation: fadeinsubscribemessage 4s ease both; }

@-webkit-keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinblogmessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 11rem;
    opacity: 1; }
  90% {
    top: 11rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@-webkit-keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

@keyframes fadeinsubscribemessage {
  0% {
    top: -10rem;
    opacity: 0; }
  7% {
    top: 3rem;
    opacity: 1; }
  90% {
    top: 3rem;
    opacity: 1; }
  100% {
    opacity: 0;
    top: -10rem; } }

.sponsors-section {
  -webkit-clip-path: polygon(0% 7%, 50% 7%, 100% 0%, 100% 93%, 50% 100%, 0% 100%);
  clip-path: polygon(0% 7%, 50% 7%, 100% 0%, 100% 93%, 50% 100%, 0% 100%);
  background-color: #2c3a47;
  padding: 12rem 10rem 9rem 10rem;
  margin-top: -5rem; }
  @media (max-width: 1200px) {
    .sponsors-section {
      padding: 12rem 8rem 9rem 8rem; } }
  @media (max-width: 1100px) {
    .sponsors-section {
      padding: 12rem 6rem 9rem 6rem; } }
  @media (max-width: 1000px) {
    .sponsors-section {
      padding: 13rem 4rem 10rem 4rem; } }
  @media screen and (max-width: 650px) {
    .sponsors-section {
      padding: 13rem 3rem 10rem 3rem; } }
  @media screen and (max-width: 550px) {
    .sponsors-section {
      padding: 9rem 2rem;
      -webkit-clip-path: polygon(0% 4%, 50% 4%, 100% 0%, 100% 96%, 50% 100%, 0% 100%);
      clip-path: polygon(0% 4%, 50% 4%, 100% 0%, 100% 96%, 50% 100%, 0% 100%); } }

.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem;
  /* justify-content:*/ }
  .sponsors-logobox {
    width: 17%;
    margin: 1.5%;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    /* padding: 0.3rem;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 12rem;
    background-color: #eee;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9); }
    .sponsors-logobox:hover {
      -webkit-filter: brightness(0.8);
      filter: brightness(0.8); }
    @media screen and (max-width: 600px) {
      .sponsors-logobox {
        width: 21.4%;
        height: 9rem;
        margin-bottom: 2rem; } }
    @media screen and (max-width: 450px) {
      .sponsors-logobox {
        width: 30.333%;
        -webkit-border-radius: 0.6rem;
        border-radius: 0.6rem; } }
  .sponsors-logo {
    height: 100%;
    width: 100%;
    vertical-align: middle; }
